        .container{
        width:100%;
        margin:1px;
    }
    h1{
        text-align: center;
        color:black;
    }
    #chicken {
  position:relative;
    top: -2px;
   background-color: rgb(194, 53, 76);
    right:-2px;
    text-align: center;
    float: right;
    padding:5px;
    border-style: solid;
    border-top: 0px;
    border-right: 0px;
   font-size: 20px;
   width: 150px;

}
 #beef {
  position:relative;
    top: -2px;
   background-color: red;
    right:-2px;
    text-align: center;
    float: right;
    padding:5px;
    border-style: solid;
    border-top: 0px;
    border-right: 0px;
   font-size: 20px;
   width: 150px;
   color:white;
   border-color: black;
}
#sushi {
  position:relative;
    top: -2px;
   background-color: greenyellow;
    right:-2px;
    text-align: center;
    float: right;
    padding:5px;
    border-style: solid;
    border-top: 0px;
    border-right: 0px;
   font-size: 20px;
   width: 150px;
}

.hi{
    width:31.5%;
    float: left;
    border-style: solid;
    margin:3px;
    background-color:rgb(128, 120, 120);
    padding: 2px;
}
.hi1{
    width: 31.5%;
    float: left;
    border-style: solid;
   margin:3px;
   background-color:rgb(128, 120, 120);
    padding: 2px;
}
.hi2{
    width: 31.5%;
    float: left;
    border-style: solid;
     margin: 3px;
     background-color:rgb(128, 120, 120);
      padding: 2px;
}

@media( max-width: 992px) and (min-width: 768px) {
    .hi{
    width:46%;
    float: left;
    margin:8px;
}
.hi1{
    width: 46%;
    float: left;
     margin:8px;
}
.hi2{
    margin-top: 5px;
     width:98%;
     margin-top: 15px;
}
}
@media( max-width:767px ) {

  .hi{
    width:99%;
    

}
.hi1{
    width: 99%;
    
}
.hi2{
     width:99%;
}
}

